{% extends "layout.html" %}

{% macro show_errors(field) %}
    {{ field.label }}<br/>
    {{ field(size=20) }}<br/>

{% for error in field.errors %}
<span style="color: red;">{{error}}</span><br/>
{% endfor %}
<br/>
{% endmacro %}

{% block body %}
<h2>Login</h2>
<form method="POST" action="{{ url_for('bands.login') }}">
    {{ loginForm.csrf_token }}
    {{ show_errors(loginForm.login) }}
    {{ show_errors(loginForm.password) }}
    <input type="submit" value="Login">
</form>

<h2>Neuen Benutzer erstellen</h2>

<form method="POST" action="{{ url_for('bands.register') }}">
    {{ registerForm.csrf_token }}
    {{ show_errors(registerForm.login) }}
    {{ show_errors(registerForm.email) }}
    {{ show_errors(registerForm.password) }}
    {{ show_errors(registerForm.confirm) }}
    <input type="submit" value="Band registrieren">
</form>
{% endblock %}

