{% from "_formhelpers.html" import renderDefault %}
{% from "_formhelpers.html" import getField %}
{% from "_formhelpers.html" import getErrors %}
{% from "_formhelpers.html" import renderMessages %}


<h2>Übersicht</h2>

<table>
    <tr>
        <td>Profil</td>
        {% if g.band.is_profile_valid %}
        <td id="profile-info" class="info">Bandinformationen vollständig ausgefüllt</td>
        {% else %}
        <td id="profile-info" class="error">Es fehlen noch Informationen!</td>
        {% endif %}
    </tr>
    <tr>
        <td>Kontaktemail</td>
        {% if g.band.is_email_confirmed %}
        <td id="profile-email" class="info">bestätigt</td>
        {% else %}
        <td id="profile-email" class="error">nicht bestätigt
        <a href="{{ url_for('bands.profile.resend') }}">Bestätigungsemail erneut versenden</a>
        </td>
        {% endif %}
    </tr>
    <tr>
        <td>Tracks</td>
        {% if g.band.is_tracks_valid %}
        <td id="profile-tracks" class="info">{{ g.band.tracks.count() }} Tracks</td>
        {% else %}
        <td id="profile-tracks" class="error">Es fehlen mindestens {{ 3 - g.band.tracks.count() }} Tracks</td>
        {% endif %}
    </tr>
    <tr>
        <td>Bild</td>
        {% if g.band.image %}
        <td id="profile-image" class="info">wunderschön</td>
        {% else %}
        <td  id="profile-image" class="error">fehlt</td>
        {% endif %}
    </tr>
    <tr>
        <td>Techrider</td>
        {% if g.band.techrider %}
        <td id="profile-techrider" class="info">wunderschön</td>
        {% else %}
        <td id="profile-techrider" class="error">fehlt</td>
        {% endif %}
    </tr>
</table>

{% if g.band.is_ready_for_submit %}
<a href="{{ url_for('bands.profile.submit') }}" class="info">Abschließen</a>
{% else %}
<div class="error">Das Abschließen der Bewerbung ist erst möglich, wenn alle obigen Punkte erfüllt sind.</div>
{% endif %}
