<h2>Bild<div class="check-status"><i></i></div></h2>


<div id="image" class="uploaded-files band-image">
    {% if g.band.image %}
    {% include "image_preview.html" %}
    {% else %}
    <img src="{{ url_for('static', filename='img/ph_avatar.png') }}" alt="{{ g.band.name }}"/>
    {% endif %}
</div>

<form method="POST" action="{{ url_for('bands.image.upload') }}" enctype="multipart/form-data" id="image_form">
    {{ image_form.csrf_token }}

    <div class="field-group fg-upload">
        <div class="input-prefix"><i class="i-upload"></i> Datei auswählen...</div>
        <input type="file" id="image_file" name="image_file">
    </div>

    <ul class="uploads--list"></ul>

    <input type="submit" value="Bild senden">
</form>

<div class="hint">
    <div class="hint-icon"><i class="i-help"></i></div>
    Schritt 3 von 5<br />
    Bitte stellt uns ein Bandfoto zur Verfügung, dass wir auf unsere Homepage zur Vorstellung eurer Band nutzen können.
    Dieses Foto muss als <strong>png, jpg oder gif</strong> vorliegen und sollte mindestens <strong>1000px breit</strong> sein.
</div>