{% extends "layout.html" %}
{% from "_formhelpers.html" import renderDefault %}
{% from "_formhelpers.html" import getField %}
{% from "_formhelpers.html" import getErrors %}

{% block body %}
<h2>Login</h2>
<form method="POST" action="{{ url_for('bands.session.login') }}">
    {{ loginForm.csrf_token }}
    {{ renderDefault(loginForm.login) }}
    {{ renderDefault(loginForm.password) }}
    <input type="submit" value="Login">
</form>

<h2>Neuen Benutzer erstellen</h2>

<form method="POST" action="{{ url_for('bands.session.register') }}">
    {{ registerForm.csrf_token }}
    {{ renderDefault(registerForm.login) }}
    {{ renderDefault(registerForm.email) }}
    {{ renderDefault(registerForm.password) }}
    {{ renderDefault(registerForm.confirm) }}
    <input type="submit" value="Band registrieren">
</form>
{% endblock %}

