{% extends "layout.html" %}
{% from "_formhelpers.html" import renderDefault %}
{% from "_formhelpers.html" import getField %}
{% from "_formhelpers.html" import getErrors %}
{% from "_formhelpers.html" import renderMessages %}

{% block body %}


<div id="messages" class="message-container">
    {{ renderMessages() }}
</div>


<section class="main-content profile">
    <div class="row">
        <div class="profile-form-wrapper col-xs-12">
            <div class="form-action" id="step-info">
                <div class="step-content">
                    {% include "profile.html" %}
                </div>
            </div>

            <div class="form-action" id="step-music">
                <div class="step-content">
                    {% include "tracks.html" %}
                </div>
            </div>

            <div class="form-action" id="step-image">
                <div class="step-content">
                    {% include "image.html" %}
                </div>
            </div>

            <div class="form-action" id="step-techrider">
                <div class="step-content">
                    {% include "techrider.html" %}
                </div>
            </div>

            <div class="form-action" id="step-summary">
                <div class="step-content">
                    {% include "check.html" %}
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
