{% extends "layout.html" %}
{% from "_formhelpers.html" import renderDefault %}
{% from "_formhelpers.html" import getField %}
{% from "_formhelpers.html" import getErrors %}
{% from "_formhelpers.html" import renderMessages %}

{% block inlinejs %}
<script src="{{ url_for('bands.profile.bandjs') }}" type="text/javascript"></script>
{% endblock %}

{% block body %}
{{ renderMessages() }}


<div id="messages">

</div>


<section class="main-content profile">
    <div class="row">
        <div class="profile-form-wrapper col-xs-12">
            <div class="form-action">
                {% include "profile.html" %}
            </div>

            <div class="form-action">
                {% include "tracks.html" %}
            </div>

            <div class="form-action">
                {% include "image.html" %}
            </div>

            <div class="form-action">
                {% include "techrider.html" %}
            </div>

            <div class="form-action" id="summary">
                {% include "check.html" %}
            </div>
        </div>
    </div>
    <!--<div class="footer-push"></div>-->
</section>

{% endblock %}
