{% from "_formhelpers.html" import renderDefault %}
{% from "_formhelpers.html" import getField %}
{% from "_formhelpers.html" import getErrors %}
{% from "_formhelpers.html" import renderMessages %}

<h2>Infos<div class="check-status"><i></i></div></h2>


<form method="POST" action="{{ url_for('bands.profile.update') }}" id="band_form">
    {{ band_form.csrf_token }}

    <fieldset>
        <legend>Basics</legend>

        <div class="row">
            <div class="col-xs-12">
                {{ renderDefault(band_form.name) }}
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-2">
                {{ renderDefault(band_form.amount_members) }}
            </div>
            <div class= "col-xs-12 col-sm-5">
                {{ renderDefault(band_form.phone) }}
            </div>
            <div class="col-xs-12 col-sm-5">
                {{ renderDefault(band_form.city) }}
            </div>
        </div>

    </fieldset>

    <fieldset>
        <legend>Links</legend>

        <div class="row">
            <div class="col-xs-12 col-sm-4">
                {{ band_form.website.label }}
                <div class="field-group">
                    <div class="input-prefix"><i class="i-link"></i></div>
                    {{ getField(band_form.website, "http://vorstrasse-bremen.de") }}{{ getErrors(band_form.website) }}
                </div>
            </div>

            <div class="col-xs-12 col-sm-4">
                {{ band_form.youtube_id.label }}
                <div class="field-group">
                    <div class="input-prefix"><i class="i-youtube"></i></div>
                    {{ getField(band_form.youtube_id, "9vy5g9rz-jU") }}{{getErrors(band_form.youtube_id) }}
                </div>
            </div>

            <div class="col-xs-12 col-sm-4">
                {{ band_form.facebook_page.label }}
                <div class="field-group">
                    <div class="input-prefix"><i class="i-facebook"></i></div>
                    {{ getField(band_form.facebook_page, "sommerfest.vorstrasse") }}{{ getErrors(band_form.facebook_page) }}
                </div>
            </div>
        </div>

    </fieldset>

    <fieldset>
        <legend>Beschreibung</legend>

        <div class="row">
            <div class="col-xs-12" >
                {{ renderDefault(band_form.descp, "Bitte mindestens 30 Zeichen. Diesen Text nutzen wir später um eure Band auf der Sommerfest Webseite unter http://www.vorstrasse-bremen.de zu promoten.") }}
            </div>
        </div>

    </fieldset>

    <input type="submit" value="Bandinfos senden">
</form>


<div class="hint">
    <div class="hint-icon"><i class="i-help"></i></div>
    Schritt 1 von 5<br />
    Klick' auf den Pfeil rechts, benutze die rechte Pfeiltasten oder "slide" nach rechts auf deinem Smartphone um zum nächsten Dialog zu kommen.
</div>