{% extends "layout.html" %}
{% from "_formhelpers.html" import renderDefault %}
{% from "_formhelpers.html" import getField %}
{% from "_formhelpers.html" import getErrors %}
{% from "_formhelpers.html" import renderMessages %}

{% block inlinejs %}

<script type="text/javascript">
    $(document).ready(function () {
        $('#band_form').submit(function (e) {
            e.preventDefault();

            $.post(this.action, $(this).serialize(),function (data) {
                console.log("success", data);
            }).fail(function (data) {
                        console.log("fail", data.responseJSON);
                    });
        });

        $('#track_form').submit(function (e) {
            e.preventDefault();

            $.ajax({
                url: this.action,
                type: 'POST',
                data:  new FormData(this),
                mimeType:"multipart/form-data",
                contentType: false,
                cache: false,
                dataType: 'json',
                processData:false,
                'success': function (data) {
                    $("#track_list ul").append(data['track'])
                }
            }).fail(function (data) {
                console.log("fail", data.responseJSON);
            });
        });

    });
</script>
{% endblock %}

{% block body %}
{{ renderMessages() }}


<h2>Tab 1: Allg Bandinfos</h2>

<form method="POST" action="{{ url_for('bands.profile.update') }}" id="band_form">
    {{ band_form.csrf_token }}
    {{ renderDefault(band_form.name) }}
    {{ renderDefault(band_form.descp) }}
    {{ renderDefault(band_form.amount_members) }}
    {{ band_form.website.label }}
    http://{{ getField(band_form.website) }}{{ getErrors(band_form.website) }}
    {{ band_form.youtube_id.label }} http://www.youtube.com/{{ getField(band_form.youtube_id) }}{{
    getErrors(band_form.youtube_id) }}
    {{ band_form.facebook_page.label }} http://www.facebook.com/{{ getField(band_form.facebook_page) }}{{
    getErrors(band_form.facebook_page) }}

    {{ renderDefault(band_form.phone) }}
    {{ renderDefault(band_form.city) }}
    <input type="submit" value="Bandinformationen vervollständigt">
</form>

<hr/>
<h2>Tab 2: Tracks</h2>

<h3>Bisher hochgeladen</h3>
<div id="track_list">
<ul>
    {% for track in g.band.tracks %}
        {% include "track_item.html" %}
    {% endfor %}
</ul>
</div>


<form method="POST" action="{{ url_for('bands.tracks.upload') }}" enctype="multipart/form-data" id="track_form">
    {{ track_form.csrf_token }}

    {{ renderDefault(track_form.audioFile) }}
    {{ renderDefault(track_form.trackname, 'Track') }}

    <input type="submit" value="Song hochladen">
</form>

{% endblock %}
