{% extends "layout.html" %}
{% from "_formhelpers.html" import renderDefault %}
{% from "_formhelpers.html" import getField %}
{% from "_formhelpers.html" import getErrors %}

{% block body %}
<h2>Allgemeine Bandinfos</h2>

<form method="POST" action="{{ url_for('bands.profileGeneral') }}">
    {{ bandForm.csrf_token }}
    {{ renderDefault(bandForm.descp) }}
    http://{{ getField(bandForm.website) }}{{ getErrors(bandForm.website) }}
    http://www.youtube.com/{{ getField(bandForm.youtube_id) }}{{ getErrors(bandForm.youtube_id) }}
    {{ renderDefault(bandForm.phone) }}
    {{ renderDefault(bandForm.city) }}
    <input type="submit" value="Bandinformationen vervollständigt">
</form>
{% endblock %}
