{% from "_formhelpers.html" import renderDefault %}
{% from "_formhelpers.html" import getField %}
{% from "_formhelpers.html" import getErrors %}
{% from "_formhelpers.html" import renderMessages %}


<h2>Techrider<div class="check-status"><i></i></div></h2>


<div class="icon-container">
    <i class="i-document"></i>
    {% if g.band.techrider_url %}
    <div id="techrider" class="uploaded-files">
        {% include "techrider_link.html" %}
    </div>
    {% else %}
    <div id="techrider" class="missing-files">
        <h3>Noch keinen Techrider hochgeladen</h3>
    </div>
    {% endif %}
</div>

<form method="POST" action="{{ url_for('bands.techrider.upload') }}" enctype="multipart/form-data" id="techrider_form">
    {{ techrider_form.csrf_token }}

    <div class="field-group fg-upload">
        <div class="input-prefix"><i class="i-upload"></i> Datei auswählen...</div>
        <input type="file" id="techrider_file" name="techriderFile">
    </div>

    <ul class="uploads--list"></ul>

    <input type="submit" value="Techrider senden">
</form>

<div class="hint">
    <div class="step-no"><span>4</span><span>5</span></div>
    Damit wir euch später auf der Bühne richtig betreuen können, brauchen wir euren Techrider. Ihr könnt hier <strong>eine pdf-Datei</strong> hochladen.
</div>
