{% from "_formhelpers.html" import renderDefault %}
{% from "_formhelpers.html" import getField %}
{% from "_formhelpers.html" import getErrors %}
{% from "_formhelpers.html" import renderMessages %}


<h2>Techrider</h2>

<div id="techrider">
    {% include "techrider_link.html" %}
</div>

<form method="POST" action="{{ url_for('bands.techrider.upload') }}" enctype="multipart/form-data" id="techrider_form">
    {{ techrider_form.csrf_token }}

    <div class="field-group fg-upload">
        <div class="input-prefix"><i class="i-upload"></i> Datei auswählen...</div>
        <input type="file" id="techriderFile" name="techriderFile">
    </div>

    <input type="submit" value="Techrider senden">
</form>
