{% from "_formhelpers.html" import renderDefault %}
{% from "_formhelpers.html" import getField %}
{% from "_formhelpers.html" import getErrors %}
{% from "_formhelpers.html" import renderMessages %}


<h2>Musik<div class="check-status"><i></i></div></h2>


{% if g.band.tracks.count() > 0 %}
<div class="uploaded-files">
    <ul id="track_list" class="track-list">
        {% include "track_item.html" %}
    </ul>
</div>
<div class="missing-files animated"></div>
{% else %}
<div class="uploaded-files animated">
    <ul id="track_list" class="track-list"></ul>
</div>
<div class="missing-files">
    <i class="i-audio"></i>
    <h3>Noch keine Musik hochgeladen</h3>
</div>
{% endif %}


<form method="POST" action="{{ url_for('bands.tracks.upload') }}" enctype="multipart/form-data" id="track_form">
    {{ track_form.csrf_token }}


    <div class="field-group fg-upload">
        <div class="input-prefix"><i class="i-upload"></i> Dateien auswählen...</div>
        <input type="file" id="audioFile" name="audioFile[]" multiple>
    </div>

    <ul class="uploads--list"></ul>

    <input type="submit" value="Musikupload senden">
</form>

<div class="hint">
    <div class="step-no"><span>2</span><span>5</span></div>
    Bitte ladet 3 bis 5 Songs hoch. Falls du ein DJ bist, lade bitte am besten 3 bis 5 Ausschnitte a 3 bis 5 Minuten aus deinen Mixen hoch. Es können <strong>nur MP3-Dateien</strong> hochgeladen werden. Habt während des Uploads bitte ein bisschen Geduld, der Upload der Tracks dauert erfahrungsgemäß einen kleinen Moment länger.
</div>
