{% from "_formhelpers.html" import renderDefault %}
{% from "_formhelpers.html" import getField %}
{% from "_formhelpers.html" import getErrors %}
{% from "_formhelpers.html" import renderMessages %}


<h2>Tab 2: Tracks</h2>

<h3>Bisher hochgeladen</h3>
<div id="track_list">
    <ul>
        {% include "track_item.html" %}
    </ul>
</div>

<form method="POST" action="{{ url_for('bands.tracks.upload') }}" enctype="multipart/form-data" id="track_form">
    {{ track_form.csrf_token }}

    <input type="file" id="audioFile" name="audioFile[]" multiple="">
    <ul id="selected-tracks">

    </ul>

    <input type="submit" value="Song hochladen">
</form>
