SETTINGS = {
    'SQLALCHEMY_DATABASE_URI' : 'sqlite:///test.db',
    'MAIL_SERVER': '',
    'MAIL_PORT': 587,
    'MAIL_USE_TLS': True,
    'MAIL_USERNAME': '',
    'MAIL_PASSWORD': '',
    'UPLOADED_TRACKPOOL_DEST': 'uploads/tracks',
    'UPLOADED_IMAGEPOOL_DEST': 'uploads/images',
    'UPLOADED_TECHRIDERPOOL_DEST': 'uploads/techrider',
    'CELERY_BROKER_URL' : 'sqla+sqlite:///celerydb.db',
    'BAND_CANDIDATURE_END': '2015-03-01 23:59:59',
    'VOTING_END': '2015-04-01 16:00:00',
    'IMAGES_PATH': ['../uploads/images'],
    'JWT_AUTH_URL_RULE': '/vote/api/v2/auth'
}