SETTINGS = {
    'SQLALCHEMY_DATABASE_URI' : 'sqlite:///test.db',
    'MAIL_SERVER': '',
    'MAIL_PORT': 587,
    'MAIL_USE_TLS': True,
    'MAIL_USERNAME': '',
    'MAIL_PASSWORD': '',
    'UPLOADED_TRACKPOOL_DEST': 'uploads/tracks'
}