    <div ng-controller="BandsCtrl">
    <div ng-hide="bands.length">
        <div class="hexdots-loader" style="margin: 300px 300px 1000px;">
            <h3>tunefish lädt ...</h3>
        </div>
    </div>

    <div ng-show="bands.length">
        <h2>Die Bands <small>Filter: <span ng-show="search.length">"{{ search }}"</span> {{ minRating }}-{{ maxRating }} Sterne <a ng-click="allToPlaylist(filteredBands)" class="btn btn-default pull-right">Alle zur Playlist</a></small></h2>
        <div ng-repeat="band in (filteredBands = (bands|filter:search|ownRating:minRating:maxRating))">
            <div class="band-grid">
                <a href="#/band/{{band.id}}" class="band-tile">
                    <div class="band-tile-content">
                        <i ng-class="{'i-done band-voted': band.rating > 0}"></i>
                        <img class="band-tile-img" src="http://tunefish.vorstrasse-bremen.de/{{band.image['thumb']}}" alt="{{band.artist}}"/>
                        <div class="band-tile-desc">
                         {{band.artist}}
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="band-grid-gap"></div>

    </div>
</div>
