li {
    cursor: pointer;
}

body {
    padding-bottom: 70px;
}

.navbar {
    border-top: 1px solid #EEEEEE;
    padding-top: 10px;
    background: #ffffff;
}

#tunefishLogo {
    padding: 20px 10px;
}

table.playlist {
    width: 100%;
    font-size: 14px;
}

table.playlist tr {
    border-bottom: 1px solid #EEEEEE;
}

table.playlist tr:hover {
    background-color: #EEEEEE;
}

table.playlist tr td {
    padding: 8px;
}

table.playlist tr td {
    color: #999999;
    text-decoration: none;
}

table.playlist tr td.artist {
    max-width: 100%;
    white-space: nowrap;
}

table.playlist tr td.artist a {
    color: #777777;
}

table.playlist tr td.song {
    padding-left: 20px;
}

table.playlist tr.playing td.song, table.playlist tr.playing td.artist a {
    color: #24CF5F;
}

table.playlist tr td.remove {
    width: 20px;
}

img.bandimg {
    width: 100%;
    border-radius: 50%;
    display: block;
    margin: 0px auto 25px;
}

#band h4 {
    border-bottom: 1px solid #dddddd;
    padding-bottom: 8px;
    width: 100%;
}

#band h4.table {
    border-bottom: 0;
    margin: 0;
}

#band .btn {
    margin-bottom: 10px;
}

ul#mainNav {
    list-style: none;
    padding: 0;
}

ul#mainNav li {
    border-bottom: 1px solid #EEEEEE;
    width: 100%;
}

ul#mainNav li a {
    padding: 10px;
    color: #777777;
    text-decoration: none;
    display: block;
}

ul#mainNav li input {
    margin: 10px 0;
}

ul#mainNav li a:hover {
    text-decoration: none;
    background-color: #EEEEEE;
}

#mainContent {
    margin-top: 50px;
}

.band-tile {
    width: 50%;
    text-align: left;
    padding: 2%;
    vertical-align: top;
    float: left;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: flex-start;

}

.band-tile a {
    color: #fff;
    display: inline-block;
}

.band-tile-content {
    position: relative;
}

.band-tile-content:after {
    content: ' ';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.6));
}

.i-done:before {
    content: "\e013";
    font-family: "Glyphicons Halflings";
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.band-voted:before {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 35px;
    height: 35px;
    background-color: #50B87F;
    border-radius: 50%;
    line-height: 35px;
    text-align: center;
    color: white;
    font-size: 25px;
    z-index: 5;
}

.band-tile-img {
    display: block;
    width: 100%;
    height: auto;
}

.band-tile-desc {
    color: #ffffff;
    font-size: 15px;
    font-weight: 300;
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 5px;
    z-index: 2;
}

.band-tile {
    width: 33.3%;
}
