{% extends "vote_layout/layout_vote.html" %}
{% from "_formhelpers.html" import renderMessages %}

{% block body %}
{{ renderMessages() }}


<section class="main-content vote">
    <div id="app_container">

    </div>
</section>


{% raw %}
<script type="text/x-handlebars" id="bands">
    {{#view "bandgrid"}}
    <div id="band-grid">
        {{#each band in this }}

        {{#link-to "band" band.id classNames="band-tile" data-sort=band.name data-voted=band.own_vote}}
        <div class="band-tile-content">
            {{#if band.own_vote}}<i class="i-done band-voted"></i>{{/if}}
            <img class="band-tile-img" src="{{unbound band.thumbnail}}" alt="foo"/>
            <div class="band-tile-desc">
                {{ band.name }} ({{ band.own_vote }})
            </div>
        </div>
        {{/link-to}}

        {{/each}}
        <div class="band-grid-gap"></div>
    </div>
    {{/view}}
</script>

<script type="text/x-handlebars" id="band">
    <h2>Band {{ name }} ({{ vote_count }} Votes, {{ vote_average }})</h2>
    <button
    {{action "vote" 1}}>Vote 1</button>
    <button
    {{action "vote" 2}}>Vote 2</button>
    <button
    {{action "vote" 3}}>Vote 3</button>
    <button
    {{action "vote" 4}}>Vote 4</button>
    <button
    {{action "vote" 5}}>Vote 5</button>
    <table style="width: 100%;">
        <tbody>
        <tr>
            <td>Mitglieder:</td>
            <td>{{ amount_members }}</td>
        </tr>
        <tr>
            <td>Herkunft:</td>
            <td>{{ city }}<br/>
                <img src="http://maps.googleapis.com/maps/api/staticmap?key=AIzaSyDRzrscCqKGd66mLS6jOayfUw9d4SICKOY&markers=Timbuktu&zoom=10&size=600x300&sensor=false"/>

            </td>
        </tr>
        <tr>
            <td>Webseite:</td>
            <td>{{ website }}</td>
        </tr>
        <tr>
            <td>Beschreibung:</td>
            <td>{{ descp }}</td>
        </tr>
        </tbody>
    </table>

    <h3>Tracks</h3>
    <ul>
        {{#each track in tracks }}
        <li>
            <audio
            {{bind-attr src=track.url}} controls></audio>
            {{ track.trackname }}
        </li>
        {{/each}}
    </ul>

    <h3>Bandfoto</h3>
    <img {{bind-attr src=image_url }} width="100%"/>

    <h3>Kommentare</h3>
    <table style="width: 100%;">
        <tbody>
        {{#each comment in comments }}
        <tr>
            <td>{{ comment.author }} <br> {{ comment.timestamp }}</td>
            <td>{{ comment.message }}</td>
        </tr>
        {{/each}}

        </tbody>
    </table>
    <h3>Dein Kommentar:</h3>
    <form {{action "addComment" on="submit"}}>

        {{ textarea name="comment" value=comment id="new_comment" required="required" }}

        <button type="submit">Add</button>

    </form>

</script>
{% endraw %}


{% endblock %}
