{% extends "vote_layout/layout_vote.html" %}
{% from "_formhelpers.html" import renderMessages %}

{% block body %}
{{ renderMessages() }}


<section class="main-content vote">
    <div id="app_container">

    </div>
</section>


{% raw %}

<script type="text/x-handlebars"  data-template-name="star"></script>

<script type="text/x-handlebars"  data-template-name="votecontrols">
    {{view "star" band=view.band vote=1}}
    {{view "star" band=view.band vote=2}}
    {{view "star" band=view.band vote=3}}
    {{view "star" band=view.band vote=4}}
    {{view "star" band=view.band vote=5}}
</script>

</script><script type="text/x-handlebars" id="main">
    <div class="main-area">

        <div class="sidebar-area player">
            {{#if current }}
            {{#link-to "band" current.band.id }}
            <div class="band-tile-content player-image">
                <image {{ bind-attr src=current.band.thumbnail }} />
                <div class="band-tile-desc">
                    {{ current.band.name }} ( {{ current.band.ownVote }})
                </div>
            </div>
            {{/link-to}}

            <br> Vote
                {{view "votecontrols" band=current.band }}
            ( {{ current.band.ownVote }})
            {{else }}
            <div class="player-image"><i class="i-audio"></i></div>

            {{/if}}
            {{input type="range" id="seek" class="player-seek" name="seek" min=0 max=currentDuration value=currentTime}}
            <audio {{bind-attr src=current.url }} id="tunefishPlayer"></audio>
            <div class="player-controls-container">
                <div id="playCtrls" class="player-controls"{{bind-attr class="playerState"}} >
                    <a href="#" {{action "prev"}}><i class="i-prev"></i></a>

                    <a href="#" {{action "pause"}}><i class="i-pause"></i></a>
                    <a href="#" {{action "play"}}><i class="i-play"></i></a>

                    <a href="#" {{action "next"}}><i class="i-next"></i></a>
                </div>
                <div class="player-controls-extra">
                    <a href="#" {{action "shuffle"}}><i class="i-shuffle"></i></a>
                    <a href="#" {{action "clear"}}><i class="i-close"></i></a>
                </div>
            </div>



            <br />
            <a href="#" {{ action "addUnvotedTracks" }}>Add all unvoted bands to queue</a>

            <div id="" style="overflow-y: scroll; height:200px;">
                <ul>
                    {{#each item in tracks}}
                    {{#view "queueitem" item=item }}
                    <a href="#" {{action "jumpTo" item.index }}>{{ item.track.trackname }}</a>
                    by {{#link-to "band" item.track.band.id }}{{ item.track.band.name }} {{/link-to}}
                    {{/view}}
                    {{/each}}
                </ul>
            </div>

        </div>

        {{ outlet }}
    </div>
</script>

<script type="text/x-handlebars" id="bands">
    {{#view "bandgrid" id="band-list"}}

        {{#each band in this}}

        {{#link-to "band" band.id classNames="band-tile" data-sort=band.name data-voted=band.own_vote}}
        <div class="band-tile-content">
            {{#if band.voted}}<i class="i-done band-voted"></i>{{/if}}
            <img class="band-tile-img" src="{{unbound band.thumbnail}}" alt="{{unbound band.name}}"/>
            <div class="band-tile-desc">
                {{ band.name }} ({{ band.ownVote }})
            </div>
        </div>
        {{/link-to}}

        {{/each}}
        <div class="band-grid-gap"></div>

    {{/view}}
</script>

<script type="text/x-handlebars" id="band">

    <div id="band-detail" class="content-area band-detail">
        <div class="detail-header" style="background-image: url('{{unbound image}}');">
            <img class="header-image" {{bind-attr src=thumbnail }} width="100%"/>
            <div class="header-breadcrumb">{{#link-to 'bands' }}Bands /{{/link-to}}
                <span>
                    {{ name }}
                </span>
            </div>
        </div>
        <div class="row band-info-row">
                <div class="col-xs-offset-1 col-xs-2">
                    <div>{{members}}</div>
                    <span>Mitglieder</span>
                </div>

                <div class="col-xs-3">
                    <div>{{city}}, {{distance}} km</div>
                    <span>Herkunft</span>
                </div>

                <div class="col-xs-4">
                    <div><a {{bind-attr href=website }}>{{ website }}</a></div>
                    <span>Webseite</span>
                </div>

                <div class="col-xs-2">
                    <div>{{#if facebookUrl }}<a {{ bind-attr href=facebookUrl }}>facebook</a>{{else}}-{{/if }}</div>
                    <span>facebook</span>
                </div>
            </div>


        <div class="detail-content">

            <div class="row">
                <div class="col-md-7 col-xs-12">
                    <div class="tracks-h3">
                        <h3>Tracks</h3>
                        <a href="#" {{ action "addAllTracks" }} class="addAllTracks">Add all tracks to queue</a>
                    </div>

                    <ul class="tracks">
                        {{#each track in tracks }}
                            <li>
                                <a href="#" {{ action "addTrack" track }}>
                                    <span>{{ name }}</span> {{ track.trackname }}
                                </a>
                            </li>
                        {{/each}}
                    </ul>

                    <h3>Kommentare</h3>

                    {{#each comment in comments }}
                        <div class="row">
                            <div class="col-xs-11">
                                <div class="row comment-row">
                                    <div class="col-xs-2 comment-author">
                                        {{ comment.author }}<br />
                                        <span>{{ comment.timestamp }}</span>
                                    </div>
                                    <div class="col-xs-10">
                                        {{ comment.message }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {{/each}}


                    <form {{action "addComment" on="submit"}} class="comment">
                        <div class="row">
                            <div class="col-xs-4 col-md-3">
                                <h3>Dein<br />Kommentar</h3>
                            </div>
                            <div class="col-xs-7 col-md-8">
                            <div class="row">
                                <div class="col-xs-12">
                                    {{ textarea name="comment" value=comment id="new_comment" required="required" }}
                                </div>

                                <div class="col-xs-12">
                                    <button type="submit">Kommentieren</button>
                                </div>
                                </div>
                            </div>
                        </div>
                    </form>

                </div>
                <div class="col-md-5 col-xs-12">

                    <div class="row">
                        <div class="col-xs-12">

                            <div class="voting-row">
                                {{view "votecontrols" band=this }}
                            </div>
                        </div>
                    </div>


                    <h3>Bandinfo</h3>
                    <div class="band-description">
                        {{ descp }}
                    </div>

                    <h3>Bandfoto</h3>
                    <img {{bind-attr src=image }} width="100%"/>

                    <br />

                    <div>
                    <br />
                    <img src="http://maps.googleapis.com/maps/api/staticmap?key=AIzaSyDRzrscCqKGd66mLS6jOayfUw9d4SICKOY&markers={{ unbound city }}&zoom=10&size=550x300&sensor=false"/>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-8 col-xs-offset-2">
                <div>
                    {{#if youtubeUrl }}
                    <!-- Feel free to use some JS hacks to avoid this iframe, Dennis -->
                            <iframe id="ytplayer" type="text/html" width="100%" height="100%"
                                    {{ bind-attr src=youtubeUrl }}"
                            frameborder="0"/>
                    {{/if }}
                </div>
            </div>
        </div>
    </div>

</script>
{% endraw %}


{% endblock %}
