{% extends "vote_layout/layout_vote.html" %}
{% from "_formhelpers.html" import renderMessages %}

{% block body %}
{{ renderMessages() }}

<section class="main-content profile finish">
    <div class="row">
        <div class="profile-form-wrapper col-xs-12">
            <div class="form-action" id="step-finish">
                <div class="step-content">
                    Voting / Bands

                    <h2>Bandübersicht</h2>

                    {% for band in bands %}
                    <a href="{{ url_for('vote.bands.view', band_id=band.id) }}">
                        <div style="width: 200px; height: 200px; background: url('{{url_for('images.crop', filename=band.image, width=200, height=200)}}'); display: inline-block; margin: 10px; position: relative;">
                            <div style="background-color: rgba(0,0,0, .5); width: 100%; position: absolute; bottom: 0; padding: 5px; text-align: center;">
                                {{ band.name }}
                            </div>
                        </div>
                    </a>

                    {% endfor %}

                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
