{% extends "vote_layout/layout_vote.html" %}
{% from "_formhelpers.html" import renderMessages %}

{% block body %}

<div id="messages" class="message-container">
    {{ renderMessages() }}
</div>



<section class="main-content profile finish">
    <div class="row">
        <div class="profile-form-wrapper col-xs-12">
            <div class="form-action" id="step-finish">
                <div class="step-content">
                    <h2>Account noch nicht aktiviert!</h2>

                    <p>
                        Hey {{ g.user.login }},<br/>
                        dein Tunefish-Account ist noch nicht aktiviert.<br /><br />
                        Wir werden deinen Account schnellstmöglichst aktivieren.
                        <br/><br/>
                        Liebe Grüße<br/>
                        Deine Sommerfest Orga
                    </p>

                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
