{% extends "vote_layout/layout_vote.html" %}
{% from "_formhelpers.html" import renderMessages %}

{% block body %}

<div id="messages" class="message-container">
    {{ renderMessages() }}
</div>

<section class="main-content stats">
    <div class="row">
        <div class="col-xs-12">
            <h2>Benutzer</h2>

            {% for user in users %}
            <ul>
                <li>{{ user.anonymous_login() }} ({% if user.vote_count > 3 %}155{% else %}{{ user.vote_count }}{% endif %} Votes)
                    <div>
                        <div style="width: {% if user.vote_count > 3 %}155{% else %}{{ user.vote_count }}{% endif %}px"></div>
                    </div>
                </li>
            </ul>
            {% endfor %}

        </div>
    </div>
</section>

{% endblock %}
