.check-list {
    margin-bottom: 0;

    .check-status {
        width: 45px;
        height: 45px;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);


        i {
            font-size: 25px;
        }
    }
}

.check-row {
    @include clearfix();

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    position: relative;

    padding: $space-half 0;
    border-top: 1px solid $light;

    @include breakpoint(m) {
        padding: $space 0;
    }
}

.check-step {
    font-size: $h4-font-size;
    line-height: $h4-line-height;

    padding-right: $space;
    flex: 1 1 100%;

    @include breakpoint(m) {
        flex: 1;
    }
}

.check-step-info {
    padding-right: 60px;
    flex: 1 1 100%;

    span,
    a {
        display: inline-block;
    }

    span {
        padding-right: $space-half;
    }

    @include breakpoint(m) {
        flex: 3;
    }
}

.check-submit {
    display: block;
    padding-bottom: 0;
    text-align: left;

    div {
        padding: $space;
    }

    .btn {
        display: inline-block;
        height: auto;
        padding: $space-half $space;
        margin-bottom: $space-half;
    }

    small {
        display: block;
        opacity: 0.8;
        text-align: center;
    }
}
