@keyframes swim-large {
    0% {
        transform: /*scale3d(1, 1, 1)*/ translateY(0);
    }

    25% {
        transform: /*scale3d(1, 1, 1)*/ translateY(0);
    }

    50% {
        transform: /*scale3d(1, 1, 1)*/ translateY(-5px);
    }

    75% {
        transform: /*scale3d(1, 1, 1)*/ translateY(3px);
    }

    100% {
        transform: /*scale3d(1, 1, 1)*/ translateY(0px);
    }
}

.anim-logo {
    animation-duration: 2s;
    animation-iteration-count: infinite;
}


.logo {
    float: left;

//    @include breakpoint(m) {
//        border-right: 1px solid $border-light;
//    }

    > * {
        display: inline-block;
        vertical-align: middle;
    }

    span {
        line-height: $base-line-height * 2;
        padding: 0 $pad-and-half 0 $pad-half;
    }

    &:hover {
        .anim-logo {
            animation-name: swim-large;
        }
    }
}
