.profile-form-wrapper {
    padding: $space 0 0;

    h2 {
        margin-top: 0;
    }

    @include breakpoint(m) {
        padding: $space * 2 0 0;
    }

    .form-action {

        margin: 0.3125rem;
        min-height: 500px;
        background-color: $bg-sec;
        padding: $space-half;

        @include breakpoint(m) {
            padding: 2rem;
            margin: $space-double;
        }

        transition: opacity 0.4s ease;

    }
}
