
{% macro getField(field, placeholder = '', required=False) %}
    {% if field.errors %}
        {% for error in field.errors %}

            {% if field.flags.required %}
                {{ field(size=20, class_='fail', value='', placeholder=error, required=field.flags.required) }}
            {% else %}
                {{ field(size=20, class_='fail', value='', placeholder=error) }}
            {% endif %}

        {% endfor %}
    {% else %}

        {% if field.flags.required %}
            {{ field(size=20, placeholder=placeholder, required=field.flags.required) }}
        {% else %}
            {{ field(size=20, placeholder=placeholder, required=field.flags.required) }}
        {% endif %}

    {% endif %}
{% endmacro %}


{% macro getErrors(field) %}
    {% for error in field.errors %}
       <br /> <span style="color: red;">{{error}}</span>
    {% endfor %}
{% endmacro %}


{% macro renderDefault(field, placeholder='', required=False) %}
    {{ field.label }}
    {{ getField(field, placeholder) }}
{% endmacro %}


{% macro renderMessages() %}
    {% for category, message in get_flashed_messages(with_categories=true) %}
        <div class="{{category}}">{{message}}</div>
    {% endfor %}
{% endmacro %}
