
{% macro getField(field, placeholder = '') %}
    {% if field.errors %}
        {{ field(size=20, class_='fail', placeholder='abcdef') }}
    {% else %}
        {{ field(size=20, placeholder=placeholder) }}
    {% endif %}
{% endmacro %}


{% macro getErrors(field) %}
    {% for error in field.errors %}
       <br /> <span style="color: red;">{{error}}</span>
    {% endfor %}
    <br/>
{% endmacro %}


{% macro renderDefault(field, placeholder='') %}
    {{ field.label }}<br/>
    {{ getField(field, placeholder) }}
    {{ getErrors(field) }}
<br/>
{% endmacro %}