<div class="color-bar"></div>
<header>
    <div class="logo">
        <!--<img src="img/tunefish.svg" alt="Tunefish" class="anim-logo"/>-->
        <span>tunefish</span>
    </div>

    {% if g.band %}
        <div class="account">
            <div class="account-image">
                {% if g.band.image_url %}
                <img src="{{ g.band.image_url }}" alt="{{ g.band.name }}"/>
                {% else %}
                <img src="{{ url_for('static', filename='img/ph_avatar.png') }}" alt="{{ g.band.name }}"/>
                {% endif %}
            </div>

            <span>{{ g.band.name }}</span>
            <a class="logout" href="{{ url_for('bands.session.logout') }}"><i class="i-logout"></i></a>
        </div>
    {% endif %}

</header>
