  .details {

    margin-bottom: 30px;

    div span {
      color: #7F7F7F;
      font-size: 0.9em;
    }
  }

  .track {
    margin-bottom: 10px;
  }

  .details a {
    float: left;
  }

  .details p {
    padding: 0;
    margin: 0;
  }

  .band-image {
    width: 80%;
    border-radius: 25%;
    display: block;
    margin: 0px auto 25px;
  }

  .dot {
    margin-top: 7px;
    margin-right: 10px;
    float: left;
    width: 10px;
    height: 10px;
    border-radius: 50%;
  }

  .dot-red {
    background-color: #d43f3a;
  }

  .dot-green {
    background-color: #449d44;
  }

  .dot-yellow {
    background-color: #f0ad4e;
  }

  header {
    height: 4.8rem;
  }