.login {
    max-width: 1200px;
    margin-top: $base-line-height;

    h1 {
        @extend h2;
        margin-top: $space;

        span {
            @extend h3;
            font-weight: 200;
            display: block;
            margin: 0;
        }
    }

    img {
        display: inline-block;
    }
}

.login-container {
    margin: 0 0 $space;
    text-align: left;
    background-color: #efefef;
    overflow: hidden;
    position: relative;

    transform: translateZ(0);

    transition: height 0.3s ease;

    @include breakpoint(m) {
        margin-top: $space;
    }

    h2 {
        margin-top: 0;
        font-weight: 200;
    }

    .form-action {
        padding: $space;
        padding-bottom: $space-half;
        width: 50%;
        float: left;
    }

    label {
        display: none;
    }

    input {
        width: 100%;
    }

}

.form-action-wrapper {
    position: relative;
    width: 200%;
    transition: transform 0.5s ease-in-out;
}
