/** Boxen für Fehlermeldungen **/

.message-container {
    position: absolute;
    top: 52px;
    left: 0;
    width: 100%;
    z-index: 100;

    .message, .error, .info, .warning {
        display: none;
    }
}

.message, .error, .info, .warning {
    margin-top: 1px;
    padding: 10px;

    &:first-child {
        margin-top: 0;
    }
}

.info,
.error {
    color: $bg-primary;
}

.info {
    background: $success;
}

.error {
    background: $error;
}

.icon-container,
.missing-files {
    text-align: center;
    margin-bottom: $space;

    i {
        font-size: 160px;
        transition: font-size 0.5s ease;
        @include breakpoint(m) {
            font-size: 320px;
        }
    }

    &.animated {
        display: none;
    }
}
