.main {
    margin-bottom: 0;
}

footer {
    display: none;
}

.main-area {
    padding: 52px 0 60px;

    @include breakpoint(m) {
        display: flex;
        padding: 52px 0 0;
        height: 100vh;

        flex-direction: row;
    }
}

.main-area,
.content-area {
    @include breakpoint(m) {
        flex: 1;
    }
}

.sidebar-area {
    position: fixed;
    width: 100%;
    height: 70px;
    bottom: 0;
    left: 0;
    right: 0;
    background: $bg-sec;
    z-index: 10;

    @include shadow(-1);

    @include breakpoint(m) {
        position: relative;
        flex: 0 0 300px;
        height: 100vh;
        padding: 3% 2%;
    }

    .vote-control {
        font-size: 34px;
        text-align: center;
        margin: 20px 5px;
    }

    @include breakpoint(sm) {
      padding: 5px;

      .vote-control {
        float: right;
        width: 38%;
        font-size: 20px;
        margin: 5px 0;
      }

      .player-controls-container {
        float: left;
        width: 62%;
      }

      .player-seek {
        clear: both;
        padding-top: 5px;
      }
    }


}

.content-area {
    @include breakpoint(m) {
        order: -1;
        height: auto;
        overflow: scroll;
        -webkit-overflow-scrolling: touch;
    }
}

#tunefish_loading {
  margin-top: 200px;
  text-align: center;
  font-size: 40px;

  img {
    display: block;
    margin: 0 auto 40px;

  }
}