<header>
    <div class="color-bar"></div>
    <div class="head-bar">
        <div class="logo">
            <span>tunefish</span>
        </div>

        {% if g.user %}
            <div class="account">
                <span>{{ g.user.access_name }} {{ g.user.login }}</span>
                <span>&nbsp; <a href="{{ url_for('vote.home.vote_results') }}">Ergebnisse</a></span>
                {% if g.user.is_mod or g.user.is_admin %}
                    <span>&nbsp; <a href="{{ url_for('vote.bands.app', _anchor='/bands') }}">Voting</a>&nbsp;</span>
                    <span><a href="{{ url_for('vote.admin.index') }}">Administration</a>&nbsp;</span>
                {% endif %}

                <a class="logout" href="{{ url_for('vote.session.logout') }}"><i class="i-logout"></i></a>
            </div>
        {% endif %}

    </div>

</header>
