.footer-push {
    clear:both;
    height:92px; // the height of our footer + margin
}

footer {
//    @include smallfont();
    text-align: center;
    padding: 1rem;
    background-color: #fff;

    margin-top:$space;
    height:62px;
}
