.footer-push {
    clear:both;
    height:92px; // the height of our footer + margin
}

footer {

    font-weight: 200;
    text-align: center;
    padding: 1rem;
    background-color: #fff;

    border-top: 1px solid $border-light;
    margin-top:$space;
    height:62px;
}
