header {
    @include clearfix();
    background: $bg-primary;
    height: $base-line-height * 2;
    padding: 0 $pad;
    border-bottom: 1px solid $border-light;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
//
//    box-shadow: 0 0 5px 5px rgba($shadow-dark, 0.5);
}
