i {
    font-family: 'tunefish';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


.i-link:before {
    content: "\e600";
}
.i-facebook:before {
    content: "\e601";
}
.i-youtube:before {
    content: "\e602";
}
.i-done:before {
    content: "\e603";
}
.i-logout:before {
    content: "\e604";
}
.i-upload:before {
    content: "\e608";
}
.i-left:before {
    content: "\e609";
}
.i-right:before {
    content: "\e60a";
}
.i-close:before {
    content: "\e605";
}
.i-more:before {
    content: "\e606";
}
.i-menu:before {
    content: "\e607";
}


