.step-info {
    background-color: #c62828;
}

.step-music {
    background-color: #AD1457;
}

.step-image {
    background-color: #6A1B9A;
}

.step-techrider {
    background-color: #4527A0;
}

.step-summary {
    background-color: #283593;
}
