.step-info {
    background-color: $step1;
}

.step-music {
    background-color: $step2;
}

.step-image {
    background-color: $step3;
}

.step-techrider {
    background-color: $step4;
}

.step-summary {
    background-color: $step5;
}

.step-finish {
    background-color: $step-finish;
}
