{% set sort = request.args.sort|default('vote_average') %}
{% set reverse = request.args.reverse|default(1)|int %}
{% set state = request.args.state|default(0)|int %}

{% macro build_filter(stateNo, name) %}
    {% if state ==  stateNo %}<div class="btn btn-primary">{{ name }}</div>{% else %}
        <a href="{{ url_for('vote.admin.index') }}?sort={{ sort }}{% if reverse == 0 %}&amp;reverse=1{% endif %}{% if stateNo >= 0 %}&amp;state={{ stateNo }}{% endif %}" class="btn btn-default">{{ name }}</a>
    {% endif %}{% endmacro %}

<div class="btn-group"  role="group" aria-label="Filter">
    <div class="btn btn-default disabled">Filter:</div>
    {{ build_filter(0, 'Alle Bands') }} {{ build_filter(1, 'Im Voting') }}
    {{ build_filter(2, 'Abgesagt') }} {{ build_filter(3, 'Gebucht') }}
    {{ build_filter(4, 'Aus dem Voting genommen') }} {{ build_filter(5, 'Angefragt') }}
</div>

<br /><br />

<ul class="list-inline">
    <li>Legende:</li>
    <li><div class="dot dot-red"></div> Bewerbung unvollständig</li>
    <li><div class="dot dot-yellow"></div> Band nicht im Voting (trotz vollständiger Bewerbung)</li>
    <li><div class="dot dot-green"></div> Band im Voting</li>
</ul>
<br />


{% macro build_sort_url(field) %}{{ url_for('vote.admin.index') }}?sort={{ field }}{% if reverse == 0 %}&amp;reverse=1{% endif %}{% if state > 0 %}&amp;state={{ state }}
    {% endif %}{% endmacro %}

<table id="bandsTable" class="table table-striped table-hover">
    <thead>
    <tr>
        <th><a id="sortName" href="{{ build_sort_url('name') }}">Band</a></th>
        <th><a id="sortMembers" href="{{ build_sort_url('amount_members') }}">Mitgl.</a></th>
        <th><a id="sortCity" href="{{ build_sort_url('city') }}">Herkunft</a></th>
        <th><a id="sortDistance" href="{{ build_sort_url('distance') }}">Entf.</a></th>
        <th title="Platz">Pl.</th>
        <th colspan="2">
            <a id="sortCount" href="{{ build_sort_url('vote_count') }}">Voting</a>,
            <a id="sortAverage" href="{{ build_sort_url('vote_average') }}">&#8960;</a>
            </th>
        <th title="Varianz"><a id="sortVariance" href="{{ build_sort_url('vote_average') }}">Var.</a></th>
        <th title="Durschnittsbewertung plus Standardabweichung (Wurzel der Varianz)"><a id="sortDeviation" href="{{ build_sort_url('vote_with_deviation') }}">&#8960; + Dev.</a></th>
        {% if state == 0 %} <th><a id="sortState" href="{{ build_sort_url('state') }}">Status</a></th> {% endif %}
        <th class="hidden-print">Optionen</th>
    </tr>
    </thead>
    <tbody>
    {% set place = 1 %}
    {% for band in bands|sort(attribute=sort, reverse=reverse) %}
        {% if band.state == state or state == 0 %}
            <tr>
                <td><div class="dot dot-{% if band.state == 0 %}red{% elif band.state == 4 %}yellow{% else %}green{% endif %}"></div> <a href="{{ url_for('vote.admin.bands.view', band_id=band.id) }}">{{ band.name|trim }}</a></td>
                {% if band.state > 0 %}
                    <td>{% if band.amount_members != "NULL" and band.amount_members != None %}{{ band.amount_members }}{% else %}?{% endif %}</td>
                    <td>{% if band.city != "NULL" and band.city != None %}{{ band.city }}{% else %}?{% endif %}</td>

                    <td>
                        {% if band.distance %}
                            {{ band.distance }} km
                        {% else %}
                            <a href="{{ url_for('vote.ajax.distance', band_id=band.id) }}" class="distance btn btn-default btn-sm">
                                Kalk.
                            </a>
                        {% endif %}

                    </td>
                    <td>{{ place }}. {% set place = place + 1 %}</td>
                    <td>{{ band.vote_count }}</td>
                    <td>&#8960; {{ band.vote_average }}</td>
                    <td>{{ band.vote_variance }}</td>
                    <td>{{ band.vote_with_deviation }}</td>
                {% else %}
                    <td colspan="8" class="text-center">
                        <span class="label {% if band.is_profile_valid %}label-success"><i class="i-done{% else %}label-danger"><i class="i-close{% endif %}"></i> Profil  </span> &nbsp; &nbsp; &nbsp;
                        <span class="label {% if band.is_email_confirmed %}label-success"><i class="i-done{% else %}label-danger"><i class="i-close{% endif %}"></i> Mail  </span> &nbsp; &nbsp; &nbsp;
                        <span class="label {% if band.is_tracks_valid %}label-success"><i class="i-done{% else %}label-danger"><i class="i-close{% endif %}"></i> Tracks  </span> &nbsp; &nbsp; &nbsp;
                        <span class="label {% if band.image %}label-success"><i class="i-done{% else %}label-danger"><i class="i-close{% endif %}"></i> Bandbild  </span> &nbsp; &nbsp; &nbsp;
                        <span class="label {% if band.techrider %}label-success"><i class="i-done{% else %}label-danger"><i class="i-close{% endif %}"></i> Techrider  </span> &nbsp; &nbsp; &nbsp;
                    </td>
                {% endif %}
                {% if state == 0 %} <td>{{ band.state_label }}</td> {% endif %}
                <td class="hidden-print">
                    <div class="dropdown">
                      <button class="btn btn-default btn-sm dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                        Optionen
                        <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                        <li role="presentation" class="disabled"><a role="menuitem" tabindex="-1" href="#">Bearbeiten</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="{{ url_for('vote.admin.bands.delete', band_id=band.id) }}" onclick="return confirm('Band &quot;{{ band.name }}&quot; wirklich löschen?')">Löschen</a></li>
                        <li role="presentation" class="divider"></li>
                        {% if band.state == states.IN_VOTE %}
                            <li role="presentation">
                                <a class="voteState" role="menuitem" tabindex="-1" href="{{ url_for('vote.admin.bands.vote_state', band_id=band.id) }}">Aus dem Voting nehmen</a>
                            </li>
                        {% elif band.state != states.IN_VOTE and band.state != states.NEW %}
                            <li role="presentation">
                                <a class="voteState" role="menuitem" tabindex="-1" href="{{ url_for('vote.admin.bands.vote_state', band_id=band.id) }}">Ins Voting nehmen</a>
                            </li>
                        {% endif %}
                        <li role="presentation" class="divider"></li>
                            <li role="presentation">
                                <a class="bandState" role="menuitem" tabindex="-1" href="{{ url_for('vote.admin.bands.band_state', band_id=band.id, state=states.REQUESTED) }}">Status "angefragt"</a>
                            </li>

                            <li role="presentation">
                                <a class="bandState" role="menuitem" tabindex="-1" href="{{ url_for('vote.admin.bands.band_state', band_id=band.id, state=states.ACCEPTED) }}">Status "zugesagt"</a>
                            </li>
                                <li role="presentation">
                                <a class="bandState" role="menuitem" tabindex="-1" href="{{ url_for('vote.admin.bands.band_state', band_id=band.id, state=states.DECLINED) }}">Status "abgesagt"</a>
                            </li>

                      </ul>
                    </div>
                </td>
            </tr>
        {% endif %}
    {% endfor %}
    </tbody>
</table>
