{% extends "vote_layout/layout_vote_admin.html" %}
{% from "_formhelpers.html" import renderMessages %}

{% block body %}

    <br/><br/><br />

    <section class="main-content profile">
        <div class="container">
            <div class="row">
                <div class="col-xs-5" style="margin: 15px 0;">
                    <h2>tunefish Administration</h2>
                </div>
                <div class="col-xs-offset-1 col-xs-5" id="messages">

                </div>

            </div>

            <div class="row">
                <div class="col-xs-12">
                    <!-- Navigation Tabs -->
                    <ul class="nav nav-tabs" role="tablist" id="adminTabs">
                        <li role="presentation" class="active">
                            <a href="#bands" aria-controls="bands" role="tab" data-toggle="tab" class="bandsAmount">{{ bands|length }} Bands</a>
                        </li>
                        <li role="presentation">
                            <a href="#users" aria-controls="users" role="tab" data-toggle="tab">{{ users|length }} Benutzer</a>
                        </li>
                        <li role="presentation">
                            <a href="#comments" aria-controls="comments" role="tab" data-toggle="tab">{{ comments|length }} Kommentare</a>
                        </li>
                        <li role="presentation">
                            <a href="#settings" aria-controls="settings" role="tab"
                               data-toggle="tab">Einstellungen</a>
                        </li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content" style="margin: 20px 0;">
                        <div role="tabpanel" class="tab-pane active" id="bands">
                            {% include "vote/admin/band_list.html" %}
                        </div>
                        <div role="tabpanel" class="tab-pane" id="users">
                            {% include "vote/admin/user_list.html" %}
                        </div>
                        <div role="tabpanel" class="tab-pane" id="comments">
                            {% include "vote/admin/comment_list.html" %}
                        </div>
                        <div role="tabpanel" class="tab-pane" id="settings">
                            <div class="alert alert-info">
                                Momentan noch nicht implementiert.
                            </div>
                        </div>
                    </div>
                </div>
                            </div>
        </div>
    </section>


{% endblock %}

{% block inlinejs %}
    <script type="text/javascript">
    $(function() {
        var hash = window.location.hash;
        $('#adminTabs').find('a[href="' + hash + '"]').tab('show');
    });
    </script>

{% endblock %}