@charset "utf-8";

@import "base/variables";
@import "base/mixins";
@import "base/global-classes";

//@import "base/debug";

@import "base/normalize";
@import "base/grid";
@import "base/icons";

@import "base/main";
@import "base/typography";
@import "base/lists";
@import "base/tabs";

@import "base/slider";

@import "base/header";
@import "base/footer";
@import "base/steps";

@import "components/logo";
@import "components/forms";
@import "components/profile-page";
@import "components/audioplayer";
@import "components/spinner";
@import "components/check";

@import "page/login";
@import "page/messages";

// TODO move somewhere else
  .active {
    color: fuchsia;
  }

  #idleCtrls.playing {
    display: none;
  }
  #idleCtrls.idle {
    display: block;
  }

  #playCtrls.playing {
    display: block;
  }
  #playCtrls.idle {
    display: none;
  }
